/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: IBM Plex mono;
  --accent-font: "Raleway";
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #000028;
  --header-theme:url(../images/cover-image-dark.png);
  --logo-color:#db00ff;
  --extra-color:#ff0070;
  --button-color:#ff0070;
}
