/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: IBM Plex mono;
  --accent-font: "Raleway";
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
}

ul, li {
  list-style: none;
}

.page {
  color: var(--text-color, F1B2CE);
  font-family: var(--main-font, "sans-serif");
  background-color: var(--bg-color, #000028);
  min-inline-size: 375px;
  max-width: 1024px;
  margin: 0;
  box-sizing:border-box;
}

@media (max-width: 1024px) {
  .page {
    max-width: 100%;
  }
}

.header {
  position: relative;
  width: 100vw;
  max-height:768px;
  padding: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 10vi 1fr 1fr;
  margin: 0;
}

@media (max-width: 376px) {
  .header {
    max-width: 100%;
    height: 668px;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 23px;
  list-style-type: none;
  box-sizing: border-box;
}

.header__theme-menu-button {
  display:flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  color: var(--accent-color);
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  background: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  padding: 5px 13px;
  display: block;
}

.nav__decoration {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2%;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.nav__decoration::after{
  content:'';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--accent-color);
  background-color: var(--accent-color);
  margin-left: 10px;
  margin-bottom: 1px;
}


.heading {
  color: #db00ff;
  margin-top: 200px;
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
}

.heading__textbox {
  display: flex;
  width: min(55%, 491px);
  max-height: min(55%, 71px);
  color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--accent-color);
  justify-self: end;
}

@media (width <= 768px){
  .heading__textbox {
    max-width: 364px;
    max-height: 117px;
  }
}

@media (width <= 376px){
  .header{
    display: flex;
    flex-direction: column;
  }

  .heading{
    margin-top: 0px;
    margin-left: 0;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    margin-top:75px;
  }

  .header__theme-menu-list{
    flex-direction: column;

  }
  
  .heading__textbox {
    display: flex;
    width: 100%;
    flex-grow: 1;
  }
}

.header::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  top: calc(3.2% - 2px); 
  right: calc(1.6% - 2px); 
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after {
  content:'';
  position: absolute;
  width: 17px;
  height: 17px;
  bottom: 0;
  left: 0;
  margin-bottom: 2%;
  margin-left: 1.4%;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}


.seaction {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content);
  padding: 60px 20px 0 20px;
}

.seaction-lots{
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows:10% minmax(min-content, max-content);
}

.section__list-lots{
  display: flex;
  gap: 20px;
  padding: 0;
}

.header__section {
  width:clamp(100px, 200px ,314px);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.section__list-item {
  display: flex;
  flex-grow: 1;
  color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  background-color: var(--accent-color);
}

.section__list-item-paragraph {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.section__list-item-header {
  margin-bottom: 20px;
}

.seaction__poster{
  display: flex;
  flex-direction: column;
  padding: 80px 20px 60px;
}

.seaction__poster__template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 19px;
  width: 100%;
}

.grid-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.item1{
  grid-column: 1/3;
}

.item2{
  grid-row: 1/3;
  grid-column: 3;
}

.item3{
  grid-row:2/4;
}

.item5{
  grid-column: 2/4;
  grid-row:3;
}

.footer{
  display: flex;
  justify-content: center;
  width: 100vw;
  height:768px;
  padding: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  margin: 0;
}

.heading-test {
  display: flex;
  align-items: center;
  color: #db00ff;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px #ff0070;
}