/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, F1B2CE);
  font-family: var(--main-font, "sans-serif");
  background-color: var(--bg-color, #000028);
  min-inline-size: 375px;
  min-width: 375px;
  background-image: var(--header-theme);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  width: 100%;
  max-height: 768px;
  block-size: 100vh;
  min-block-size: 668px;
  padding: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  display: grid;
  grid-template-rows: 3vi 1fr 1fr;
  margin: 0;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  color: var(--button-color);
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  background: none;
  padding: 4px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-effect);
}

.nav__decoration {
  position: absolute;
  display: flex;
  top: 2.6%;
  right: 3%;
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.nav__decoration::after {
  content: "";
  display: flex;
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--button-color);
  background-color: var(--button-color);
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 3px;
}

.heading {
  color: var(--logo-color);
  margin-top: 270px;
  font-family: var(--main-font, sans-serif);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 #ff0070;
  margin-left: -20px;
}

.heading__textbox {
  display: flex;
  width: min(55%, 491px);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--extra-color);
  justify-self: end;
  align-self: center;
}

.section {
  display: grid;
  grid-template-columns: minmax(315px, 20%) minmax(clamp(20%, 649px, 8em), 1fr);
  gap: 20px;
  padding: 60px 20px 20px;
}

.header__section {
  width: 336px;
  color: var(--button-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  margin-bottom: 10px;
}

.section__list-item-header {
  display: flex;
  flex-grow: 1;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  background-color: var(--extra-color);
  margin-bottom: 12px;
}

.section__list-item-paragraph {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

.section__list li:not(:last-child) .section__list-item-paragraph {
  margin-bottom: 20px;
}

.section-lots {
  padding: 44px 20px 26px;
}

.section__list-lots {
  display: grid;
  grid-template-columns: repeat(3, minmax(clamp(200px, 30%, 8em), 1fr));
  grid-template-rows: minmax(min-content, max-content);
  grid-auto-flow: dense;
  gap: 20px;
}

.section-lots .header__section {
  margin-bottom: 0;
  margin-top: 20px;
  width: 315px;
}

.section-lots .section__list-lots {
  margin-top: 20px;
}

.section__list-item-header-extra {
  margin-top: 21px;
}

.section__list-paragraph-link {
  text-shadow: 2px 2px 0 var(--extra-color);
  text-decoration: none;
}

.section__list-paragraph-link:focus {
  outline: none;
}

.section__list-paragraph-link:focus-visible {
  border: 1px solid var(--text-color);
}

.section__list-paragraph-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__poster {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 20px 60px 20px;
}

.section__poster__template {
  display: grid;
  gap: 19px;
  width: 100%;
  margin-top: 12px;
}

.grid-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.horizontal-object {
  grid-column: 1/3;
}

.vertical-object {
  grid-row: 1/3;
  grid-column: 3;
}

.vertical-object_end {
  grid-row: 2/4;
}

.horizontal-object_end {
  grid-column: 2/4;
  grid-row: 3;
}

.footer {
  display: flex;
  position: relative;
  min-block-size: 768px;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  margin: 0;
}

.heading-footer {
  display: flex;
  align-items: center;
  color: var(--logo-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px #ff0070;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 2.6%;
  right: 2%;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
  left: 0;
  margin-bottom: 2%;
  margin-left: 2%;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

@media (width<=769px) {
  .header {
    min-height: 1024px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .nav__decoration{
    top:2.8%;
    right: 3.5%;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 134px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .heading {
    margin-top: 0;
    margin: 127px 0 0 -15px;
  }

  .heading__textbox {
    display: flex;
    width: 364px;
    min-height: 90px;
    margin-bottom: 17%;
  }

  .section {
    display: grid;
    grid-template-columns: 236px minmax(min-content, max-content);
    padding: 64px 20px 20px;
    gap: 20px;
  }

  .section:first-of-type {
    margin-top: 10px;
  }

  .header__section {
    width: max(40%, 236px);
  }

  .section-lots {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
  }

  .section-lots > .header__section {
    width: 200px;
  }

  .section__list-lots li:not(:last-child) > .section__list-item-paragraph {
    margin-bottom: 20px;
  }

  .section__list li:not(:last-child) .section__list-item-paragraph {
    margin-bottom: 22px;
  }

  .section__list-lots {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .section__list-item-header-extra {
    margin-top: 21px;
  }

  .section__poster {
    padding-top: 56px;
    padding-right: 17px;
  }

  .heading-footer {
    font-size: 120px;
  }

  .decorated-zone::before {
    top: 2.8%;
    right: 2.3%;
  }

  .decorated-zone::after {
    margin-left: 3%;
  }
}

@media (width<=460px) {
  .section {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 50px 10px;
  }

  .section-lots {
    padding: 0 10px 0 10px;
  }

  .section__poster {
    display: flex;
    flex-direction: column;
    padding: 60px 10px 40px;
  }

  .section__poster__template {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
}

@media (width<=376px) {
  .header {
    min-height: 688px;
    padding: 10px;
  }

  .header__theme-menu {
    margin-top: 10px;
    margin-right: 7px;
  }

  .nav__decoration {
    top: 1.7%;
    right: 5%;
  }

  .decorated-zone::before {
    top: 1.8%;
  }

  .header__theme-menu-list {
    gap: 8px;
  }

  .heading {
    margin-top: 10px;
    margin-left: 0;
  }

  .heading__textbox {
    max-width: 355px;
    justify-self: start;
  }

  .decorated-zone::after {
    bottom: 3%;
  }

  .header__section {
    width: max(40%, 355px);
  }

  .section:first-of-type {
    margin-top: 0;
  }

  .section {
    padding-top: 23px;
    gap: 11px;
    padding-bottom: 38px;
  }

  .section-lots > .header__section {
    width: max(40%, 355px);
  }

  .section-lots {
    padding-bottom: 35px;
  }

  .section__poster {
    padding-top: 14px;
  }

  .section__poster__template {
    margin-top: 0;
    gap: 10px;
  }

  .footer{
    min-block-size: 668px;
    height: 100vh;
  }
}
